<h2>Ready to grab brunch with your BFFs?</h2>

<%= form_tag("/show/deals", method: "GET") do %>
  <%= label_tag(:zip, "Enter your zip code:") %>
  <%= text_field_tag(:zip) %>

  <%= submit_tag("Get Brunch Deals") %>
<% end %>

<!-- <form method="GET" action="/show/deals">
  <label for="zip">Enter your zip code:</label>
  <input type="text" name="page_name" id="zip" />
  <input type="submit" value="Create" />
</form> -->