@import "bootstrap-sprockets";
@import "bootstrap";

body {
    text-align: center;
    background: url("http://brunchdeals.me/images/BDM-background.png");
    background-repeat:repeat;
    color: #786976;
    font-family: sans-serif;
    margin: 0;
}

.logo {
  margin-top: 5%;
}

.coupon {
 
}

.deals {
 /*margin-top: 300px;*/
  border:dashed  5px #b04224;
  -moz-border-radius: 39px;
  -webkit-border-radius: 39px;
  border-radius: 39px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 60px;
  width: 500px;
  box-shadow: inset 0px 0px 277px 3px #FFFFFF;
  }

p {
  text-align: left;
}

span {
  color: #b04224
  ;
}
.login{
    font-size: 12px;  
    text-align: left;
}

.user{
    text-align: center;
    font-size: 10px;
}

 article {
    text-align: left;
 }

a:link {
color: #467e5f;
text-decoration: none;
border-bottom: 1px #467e5f;
}
a:hover {
color: #b04224;
}

a:visited {
color: #467e5f;
}
.users_form {
    text-align: left;
     margin: center;
}

footer {
  /*margin-left: 48%;*/
  /*position:absolute;*/
  bottom:0;
  width:100%;
  height:50px;   
}

#coupon-logo {
  padding-right: 20px;
  margin-top: 15px;
}